<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">


    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- 拦截器属性 -->
    <filter>
        <filter-name>LoginFilter</filter-name>  <!-- 拦截器名称，建议与类同名 -->
        <filter-class>com.guimei.zxj.filter.LoginFilter</filter-class><!-- 拦截器类 -->
    </filter>

    <!-- 拦截器映射 -->
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>	<!-- 要映射的拦截器名称 -->
        <url-pattern>/user/*</url-pattern>	<!-- 拦截器拦截地址 -->
    </filter-mapping>
    <servlet>
        <servlet-name>userServlet</servlet-name>
        <servlet-class>com.guimei.zxj.web.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userServlet</servlet-name>
        <url-pattern>/userServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>productServlet</servlet-name>
        <servlet-class>com.guimei.zxj.web.ProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productServlet</servlet-name>
        <url-pattern>/productServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>orderServlet</servlet-name>
        <servlet-class>com.guimei.zxj.web.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>orderServlet</servlet-name>
        <url-pattern>/orderServlet</url-pattern>
    </servlet-mapping>


</web-app>